AUTH_PG_USER="auth-user"
AUTH_PG_PASSWORD="auth-pgpass"
AUTH_REDIS_PASSWORD="auth-redis-pass"
CATALOG_PG_USER="catalog-user"
CATALOG_PG_PASSWORD="catalog-pass"
CATALOG_REDIS_PASSWORD="catalog-redis-pass"
CATALOG_MINIO_USER="miniouser"
CATALOG_MINIO_PASSWORD="minio-pass"
ORDER_PG_USER="order-user"
ORDER_PG_PASSWORD="order-pass"
ORDER_REDIS_PASSWORD="order-redis-pass"
STRIPE_API_KEY="sk_test_..."

SEARCH_ES_HOST="http://search-engine:9200"
SEARCH_BROKER_URL="amqp://guest:guest@broker:5672/"
SEARCH_PORT="8080"

